
/** op-unit-notice:/webpack/notice.css
 *
 * @created   2017-07-31
 * @version   1.0
 * @package   op-unit-notice
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

div.OP_NOTICE {
	font-size: 9pt;
	overflow: scroll;
}

div.OP_NOTICE * {
	font-size: inherit;
}

div.OP_NOTICE > div {
	margin:  0;
	padding: 0;
	margin-top:  0.5em;
	margin-left: 0.5em;
}
