
/** op-unit-notice:/webpack/notice_table.css
 *
 * @created   2024-02-06
 * @version   1.0
 * @package   op-unit-notice
 * @author    Tomoaki Nagahara <tomoaki.nagahara@gmail.com>
 * @copyright Tomoaki Nagahara All right reserved.
 */

.OP.Notice .table {
    margin-top:  0.1rem;
    margin-left: 0.1rem;
}

.OP.Notice .table td {
    padding: 0.1rem;
    font-size: 80%;
}

.OP.Notice .table td * {
    font-size: inherit;
}

.OP.Notice .table td .args:before {
    content: "(";
}

.OP.Notice .table td .args:after {
    content: ")";
}

.OP.Notice .table td .args .underline {
    color: var(--color-link);
    text-decoration: underline;
}

.OP.Notice .table td .args .arg:not(:last-child):after {
    content: ",";
}

.OP.Notice .table td .args .arg .quote:after {
    content: "\"";
}

.OP.Notice .table td .args .arg .quote:before {
    content: "\"";
}

.OP.Notice .table td .args .arg.number {
	position: relative;
	top: 1px;
}

.OP.Notice .table td .args .arg.number:first-child {
	left: 1px;
}

/*
div.OP_NOTICE td.file {

}
*/

div.OP_NOTICE td.line {
	text-align: right;
}

div.OP_NOTICE td.function {
	white-space: nowrap;
}
